<mat-toolbar>To do list:</mat-toolbar>
<mat-card class="todocard">
    <button mat-flat-button color="primary" (click)="openAddTaskDialog()"> <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>Add Task</button>
    <mat-list role="list">
        <mat-selection-list>
            <mat-list-option checkboxPosition="before" *ngFor="let task of taskList" [value]="task" (click)="finishedTask(task)">
                {{task.taskName}}
                <mat-chip-list>
                    <mat-chip color="primary">{{task.label}}</mat-chip>
                </mat-chip-list>
                <div class="dueTime">
                    <mat-icon matListIcon>av_timer</mat-icon>
                    <span>{{task.duration | date: 'dd-MMM-yyyy'}}</span>
                </div>
                <mat-icon matListIcon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="updateTask(task)">Edit</button>
                <button mat-menu-item (click)="deleteTask(task)">Delete</button>
                </mat-menu>
            </mat-list-option>
        </mat-selection-list>
        <div *ngIf="finishedTaskList.length > 0">
        <h3 matSubheader>Finished task</h3>
        <mat-selection-list>
            <mat-list-option checkboxPosition="before" selected="true" class="finished-task-list" *ngFor="let task of finishedTaskList" [value]="task" (click)="finishedTask(task)">
                {{task.taskName}}
                <mat-chip-list>
                    <mat-chip color="primary">{{task.label}}</mat-chip>
                </mat-chip-list>
            </mat-list-option>
        </mat-selection-list>
       </div>
    </mat-list>
</mat-card>
<loading-spinner *ngIf="showLoadingSpinner"></loading-spinner>